<section class="modal" id="modal">
    <div id="modal_hidden" hidden>
        <div id="details">
            <div id="container">
                <div id="product"></div></br>
                <div id="pilots"></div></br>
                <div id="altura_ms"></div></br>
                <div id="kg_ms"></div></br>
                <div id="other"></div></br>
                    <dd><div id="velocidad"></div>
                    <div id="energia"></div>
                    <div id="encencido"></div>
                    <div id="sensor"></div></dd>
                </br>
                <div id="production_start"></div>
                <div id="price_per_unit"></div></br>
            </div>
        </div>
    </div>
</section>