<div id="list_api_shop"></div>
	<div class="footer"> 
		<div class="container">
			<div class="footer-agileinfo">
				<div class="col-md-6 footer-right">
					<div class="footer-right-map">
						
						<!--<div id="map"></div>-->
					</div> 
				</div>
				<div class="copyright">
					<div class="contact"></div>
					<p >Idioma</p>
					<select id="lang" name="lang">
						<option data-tr="Español" value="es"></option>
						<option data-tr="Inglés" value="en"></option>
					</select>
					<button name="btn-general-lang" id="btn-general-lang" >Cambiar</button>
				</div>
			</div>
	</div> 
</div>


					
					