<div class="header-top">
    <!-- container -->
    <div class="container">
        <div class="social w3-agileitsicons"> 
            <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a class="twt" href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a></li>
                <li><a class="drbl" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> </a></li>
                <li><a class="be" href="#"><i class="fa fa-dribbble" aria-hidden="true"></i> </a></li>
            </ul>  
        </div>
        <div class="w3layouts-details">
            <ul>
                <li><a href="mailto:@example.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>info@example.com</a></li>
                <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>(+1) 000 123 456789</li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!-- //container -->
</div>
