<ul class="nav nav-tabs" id="profile_tabs">
    <li ><a data-toggle="tab" href="#my_acount">My Acount</a></li>
    <li><a data-toggle="tab" href="#update_profile">Update Profile</a></li>
    <li><a data-toggle="tab" href="#tracking_social">Social History</a></li>
    <li><a data-toggle="tab" href="#purchase_history">Purchase history</a></li>
</ul>

  <div class="tab-content"><!-- My acount -->
    <div id="my_acount" class="tab-pane fade in active">
      <div class='profile_user_avatar'></div>  
      <div class='profile_user_name'></div>
      <div class='profile_user_mail'></div>    
  </div>
    <div id="update_profile" class="tab-pane fade"> <!-- Update Profile -->
        <div class="container">
          <div class="row">
          <form role="form" class="col-md-9 go-right">
            <h2>Update Your Acount</h2> <br>
          <div class="form-group">
              <input id="new_pass" name="new_pass" type="text" class="form-control" value="">
              <label for="name">New Password</label>
          </div>
          <span id="e_Reg_new_password"></span>

          <div class="form-group">
            <input id="re_new_pass" name="re_new_pass" type="text" class="form-control" value="" >
            <label for="name">Repeat New Password</label>
          </div>
          <span id="e_Reg_new_confirm_password"></span>
          
          <div class="form-group">
            <input id="new_mail" name="new_mail" class="form-control" value="" ></input>
            <label for="message">New Mail</label>
          </div>
          <span id="e_Reg_new_email"></span>
          </form>
        </div>
        <button type="button" id="update_profile_data" class="btn btn-primary">Actualizar Perfil</button><br><br>
        <div class="dropzone clsbox" id="mydropzone">
          Change Your Avatar
        </div><br><br>
        <button type="button" id="update_avatar" class="btn btn-primary">Actualizar Avatar</button><br><br>
      </div>
    </div>
    <div id="tracking_social" class="tab-pane fade">
    </div>
    <div id="purchase_history" class="tab-pane fade">

      
    </div>
  </div>
</div>