<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link">Register</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="forgot-form-link">Forgot Password?</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
							<!--Register-->
								<form id="register_form"  method="post"  style="display: none;">
								<span id="e_Reg_error"></span>
									<div class="form-group">
										<input type="text" name="username" id="reg_username"  class="form-control" placeholder="Username"  >
										<span id="e_Reg_username"></span>
									</div>
									<div class="form-group">
										<input name="email" id="reg_email"  class="form-control" placeholder="Email Address" >
										<span id="e_Reg_email"></span>
									</div>
									<div class="form-group">
										<input name="password" id="reg_password" class="form-control" placeholder="Password">
										<span id="e_Reg_password"></span>
									</div>
									<div class="form-group">
										<input name="confirm-password" id="reg_confirm_password"  class="form-control" placeholder="Confirm Password">
										<span id="e_Reg_confirm_password"></span>
									</div>
									<div class="form-group">
										<div class="user_select_avatar"></div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<span id="e_global_error"></span>
												<input type="button" name="register-submit" id="register-submit"  class="form-control btn btn-register" value="Register Now">
											</div>
										</div>
									</div>
								</form>
							<!--Register-->
							<!--Forgot-Pass-->
								<form id="forgot-form"  method="post"  style="display: block;">
									<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center">
													<a class="forgot-password">Forgot Password?</a>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center">
													<input type="text" name="mail_forgP" id="mail_forgP"  class="form-control" placeholder="Mail">
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<span id="error_forgot"></span>
												<input type="button" name="forgot-submit" id="forgot-submit"  class="form-control btn btn-forgot" value="forgot">
											</div>
										</div>
									</div>
								</form>
							<!--Forgot-Pass-->
							<!--Login-->
								<form id="login_form"  method="post"  style="display: block;">
								<span id="e_log_error"></span>
									<div class="form-group">
										<input type="text" name="mail" id="login_mail" class="form-control" placeholder="Mail" >
									</div>
									<div class="form-group">
										<input type="text" name="password" id="login_password"  class="form-control" placeholder="Password">
									</div>
									<!-- <div class="form-group text-center">
										<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
										<label for="remember"> Remember Me</label>
									</div> -->
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<span id="e_login_global_error"></span>
												<input type="button" name="login-submit" id="login_submit"  class="form-control btn btn-login" value="Log In">
											</div>
										</div>
									</div>
									<!-- <button id="login_auth0">Redes Sociales</button> -->
								</form>
							
							<!--Login-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>