/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
    #map {
    margin-top: 2em;
	width: 100%;
    height: 180px;
    border: 2px solid #fff !important;
  }
  /* Optional: Makes the sample page fill the window. */
