/* modificaciones mias */
	.dad {
		display: flex ;
		justify-content: center;
		margin: 1rem;
		padding: 1rem;
		align-items: center;
		/* IMPORTANTE */
		text-align: center;
	}
	.dad select, .dad .jqxInput {
	min-width: 180px;
	display: inline-block;
	width: auto;
	vertical-align: middle;
	}
	.dad .search_autoguess {
	margin: 1rem;
	}

	#table_list_shop,#list_shop_home,#table_detailed_shop {
	width: 100%;
	text-align: center;
	}
	#table_list_shop td,#list_shop_home td,#table_detailed_shop td {
	border: 1px solid #AAAAAA;
	padding: 1%;
	width: 5%; /*Aquí va el ancho de la Celda*/
	height: 7px;
	font-size: 14px;
	text-align: center;
	}

	.listing {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	list-style: none;
	margin: 1em;
	width: 100%;
	}
	.listing li {
	border: 1px solid #ffe066;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 20%;
	}
	.listing .cta {
	border-top: 1px solid #ffe066;
	padding: 10px;
	text-align: center;
	}
	.listing .body {
	padding: 10px;
	}
	.listing .body img {
	display: block;
	margin: 1em auto;
	max-width: 100%;

	}
/* Modificaciones mias */
/* ShopCart Count */
	.p1[data-count]:after{
	position:absolute;
	right:10%;
	content: attr(data-count);
	font-size:40%;
	padding:.2em;
	border-radius:50%;
	line-height:1em;
	color: white;
	background:rgba(255,0,0,.85);
	text-align:center;
	min-width: 1em;
	
	}
/* ShopCart Count */
/* Print products cart */
	#body_cart {
		margin: 5%;
	}
	#body_cart table {
		border-collapse: collapse;
		width: 100%;
	}

	#body_cart th, td {
		padding: 3px;
		text-align: left;
		border-bottom: 1px solid #ddd;
	}
/* Print products cart */
/* Flexbox-register_icons */
	.header-top-right {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row ;
		align-items: center;
		flex-wrap:  nowrap;
	}
	#No_user_avatar{
		height:60px; 
     	width: 30%; 
     	/* border: 3px solid #555; */
		 background-image: url("../images/default-user-image.png");
		 background-repeat: no-repeat;
		 background-size: cover;
	}
	#user_avatar {
     	width: 35%; 
	}
	img{
		width: 70%;
	}
	.user_select_avatar{
		display: flex;
		flex-flow: row;
		justify-content: space-around;
		list-style: none;
		margin: 1em;
		width: 100%;
	}
	#profile_pic img{
 		padding: 5px;
		width: 70px;
		height: 70px;
		margin-top: 10px;
		

	}
/* Flexbox-register_icons */
/* Login */
	.panel-login {
		border-color: #ccc;
		-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
		box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	}
	.panel-login>.panel-heading {
		color: #00415d;
		background-color: #fff;
		border-color: #fff;
		text-align:center;
	}
	.panel-login>.panel-heading a{
		text-decoration: none;
		color: #666;
		font-weight: bold;
		font-size: 15px;
		-webkit-transition: all 0.1s linear;
		-moz-transition: all 0.1s linear;
		transition: all 0.1s linear;
	}
	.panel-login>.panel-heading a.active{
		color: #00415d;
		font-size: 18px;
	}
	.panel-login>.panel-heading hr{
		margin-top: 10px;
		margin-bottom: 0px;
		clear: both;
		border: 0;
		height: 1px;
		background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
		background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
		background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
		background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	}
	.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
		height: 45px;
		border: 1px solid #ddd;
		font-size: 16px;
		-webkit-transition: all 0.1s linear;
		-moz-transition: all 0.1s linear;
		transition: all 0.1s linear;
	}
	.panel-login input:hover,
	.panel-login input:focus {
		outline:none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border-color: #ccc;
	}
	.btn-login {
		background-color: #59B2E0;
		outline: none;
		color: #fff;
		font-size: 14px;
		height: auto;
		font-weight: normal;
		padding: 14px 0;
		text-transform: uppercase;
		border-color: #59B2E6;
	}
	.btn-login:hover,
	.btn-login:focus {
		color: #fff;
		background-color: #53A3CD;
		border-color: #53A3CD;
	}
	.forgot-password {
		text-decoration: underline;
		color: #888;
	}
	.forgot-password:hover,
	.forgot-password:focus {
		text-decoration: underline;
		color: #666;
	}

	.btn-register {
		background-color: #00415d;
		outline: none;
		color: #fff;
		font-size: 14px;
		height: auto;
		font-weight: normal;
		padding: 14px 0;
		text-transform: uppercase;
		border-color: #1CB94A;
	}
	.btn-register:hover,
	.btn-register:focus {
		color: #fff;
		background-color: #1CA347;
		border-color: #1CA347;
	}
/* Login */
/* Profile Tabs */
	/* My Acount */
		#my_acount {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: row ;
			align-items: center;
			flex-wrap:  nowrap;
		}
		.profile_user_avatar {
			width: 15%; 
		}
		.profile_user_name {
			width: 15%; 
		}
		.profile_user_mail {
			width: 15%; 
		}
	/* My Acount */
	/* Update Acount */
	#update_profile{
		align-items: center;
	}
		.form-control{
			background: transparent;
		}

		form > div {
			position: relative;
			
		}
		form input, form textarea {
			width: 100%;
			border: 2px solid gray;
			background: none;
			position: relative;
			top: 0;
			left: 0;
			z-index: 1;
			padding: 8px 12px;
			outline: 0;
		}
		form input:valid, form textarea:valid {
			background: white;
		}
		form input:focus, form textarea:focus {
			border-color: #357EBD;
		}
		form input:focus + label, form textarea:focus + label {
			background: #357EBD;
			color: white;
			font-size: 70%;
			padding: 1px 6px;
			z-index: 2;
			text-transform: uppercase;
		}
		form label {
			-webkit-transition:  0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
			transition:  0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
			position: absolute;
			color: #999;
			padding: 7px 6px;
			font-weight: normal;
		}
		form textarea {
			display: block;
			resize: vertical;
		}
		form.go-bottom input, form.go-bottom textarea {
			padding: 12px 12px 12px 12px;
		}
		form.go-bottom label {
			top: 0;
			bottom: 0;
			left: 0;
			width: 100%;
		}
		form.go-bottom input:focus, form.go-bottom textarea:focus {
			padding: 4px 6px 20px 6px;
		}
		form.go-bottom input:focus + label, form.go-bottom textarea:focus + label {
			top: 100%;
			margin-top: -16px;
		}
		form.go-right label {
			border-radius: 0 5px 5px 0;
			height: 100%;
			top: 0;
			right: 100%;
			width: 100%;
			margin-right: -100%;
		}
		form.go-right input:focus + label, form.go-right textarea:focus + label {
			right: 0;
			margin-right: 0;
			width: 40%;
			padding-top: 5px;
		}
	/* Update Acount */
/* Profile Tabs */	
/* Dropzone */

	.dropzone,
	.dropzone *,
	.dropzone-previews,
	.dropzone-previews * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}
	.dropzone {
	position: relative;
	border: 1px solid rgba(0,0,0,0.08);
	background: rgba(0,0,0,0.02);
	padding: 1em;
	}
	.dropzone.dz-clickable {
	cursor: pointer;
	}
	.dropzone.dz-clickable .dz-message,
	.dropzone.dz-clickable .dz-message span {
	cursor: pointer;
	}
	.dropzone.dz-clickable * {
	cursor: default;
	}
	.dropzone .dz-message {
	opacity: 1;
	-ms-filter: none;
	filter: none;
	}
	.dropzone.dz-drag-hover {
	border-color: rgba(0,0,0,0.15);
	background: rgba(0,0,0,0.04);
	}
	.dropzone.dz-started .dz-message {
	display: none;
	}
	.dropzone .dz-preview,
	.dropzone-previews .dz-preview {
	background: rgba(255,255,255,0.8);
	position: relative;
	display: inline-block;
	margin: 17px;
	vertical-align: top;
	border: 1px solid #acacac;
	padding: 6px 6px 6px 6px;
	}
	.dropzone .dz-preview.dz-file-preview [data-dz-thumbnail],
	.dropzone-previews .dz-preview.dz-file-preview [data-dz-thumbnail] {
	display: none;
	}
	.dropzone .dz-preview .dz-details,
	.dropzone-previews .dz-preview .dz-details {
	width: 100%;
    height: 100px;
    position: relative;
    background: #ebebeb;
    padding: 5px;
    margin-bottom: 22px;
	}
	.dropzone .dz-preview .dz-details .dz-filename,
	.dropzone-previews .dz-preview .dz-details .dz-filename {
	overflow: hidden;
	height: 100%;
	}
	.dropzone .dz-preview .dz-details img,
	.dropzone-previews .dz-preview .dz-details img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	}
	.dropzone .dz-preview .dz-details .dz-size,
	.dropzone-previews .dz-preview .dz-details .dz-size {
	position: absolute;
	bottom: -28px;
	left: 3px;
	height: 28px;
	line-height: 28px;
	}
	.dropzone .dz-preview.dz-error .dz-error-mark,
	.dropzone-previews .dz-preview.dz-error .dz-error-mark {
	display: block;
	}
	.dropzone .dz-preview.dz-success .dz-success-mark,
	.dropzone-previews .dz-preview.dz-success .dz-success-mark {
	display: block;
	}
	.dropzone .dz-preview:hover .dz-details img,
	.dropzone-previews .dz-preview:hover .dz-details img {
	display: none;
	}
	.dropzone .dz-preview .dz-success-mark,
	.dropzone-previews .dz-preview .dz-success-mark,
	.dropzone .dz-preview .dz-error-mark,
	.dropzone-previews .dz-preview .dz-error-mark {
	display: none;
	position: absolute;
	width: 40px;
	height: 40px;
	font-size: 30px;
	text-align: center;
	right: -10px;
	top: -10px;
	}
	.dropzone .dz-preview .dz-success-mark,
	.dropzone-previews .dz-preview .dz-success-mark {
	color: #8cc657;
	}
	.dropzone .dz-preview .dz-error-mark,
	.dropzone-previews .dz-preview .dz-error-mark {
	color: #ee162d;
	}
	.dropzone .dz-preview .dz-progress,
	.dropzone-previews .dz-preview .dz-progress {
	position: absolute;
	top: 100px;
	left: 6px;
	right: 6px;
	height: 6px;
	background: #d7d7d7;
	display: none;
	}
	.dropzone .dz-preview .dz-progress .dz-upload,
	.dropzone-previews .dz-preview .dz-progress .dz-upload {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 0%;
	background-color: #8cc657;
	}
	.dropzone .dz-preview.dz-processing .dz-progress,
	.dropzone-previews .dz-preview.dz-processing .dz-progress {
	display: block;
	}
	.dropzone .dz-preview .dz-error-message,
	.dropzone-previews .dz-preview .dz-error-message {
    display: none;
    /* position: absolute; */
    /* top: -15px; */
    /* left: -20px; */
    /* background: rgba(245,245,245,0.8); */
    /* padding: 8px 10px; */
    color: #800;
    min-width: 140px;
    max-width: 500px;
    z-index: 500;
	}
	.dropzone .dz-preview:hover.dz-error .dz-error-message,
	.dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
	display: block;
	}
	.dropzone {
	border: 1px solid rgb(0, 0, 0);
    height: 50%;
    width: 75%;
    -webkit-border-radius: 3px;
    border-radius: 5px;
    background: rgb(206, 200, 200);
    padding: 23px;
	}
	
	@media all and (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:1.5/1),(min-device-pixel-ratio:1.5),(min-resolution:138dpi),(min-resolution:1.5dppx) {
	.dropzone .dz-default.dz-message {
		background-image: url("../images/spritemap@2x.png");
		-webkit-background-size: 428px 406px;
		-moz-background-size: 428px 406px;
		background-size: 428px 406px;
	}
	}
	.dropzone .dz-default.dz-message span {
	display: none;
	}
	.dropzone.dz-square .dz-default.dz-message {
	background-position: 0 -123px;
	width: 268px;
	margin-left: -134px;
	height: 174px;
	margin-top: -87px;
	}
	.dropzone.dz-drag-hover .dz-message {
	opacity: 0.15;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
	filter: alpha(opacity=15);
	}
	.dropzone.dz-started .dz-message {
	display: block;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	}
	.dropzone .dz-preview,
	.dropzone-previews .dz-preview {
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.16);
	box-shadow: 1px 1px 4px rgba(0,0,0,0.16);
	font-size: 10px;
	}
	.dropzone .dz-preview.dz-image-preview:hover .dz-details img,
	.dropzone-previews .dz-preview.dz-image-preview:hover .dz-details img {
	display: block;
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	}
	.dropzone .dz-preview.dz-success .dz-success-mark,
	.dropzone-previews .dz-preview.dz-success .dz-success-mark {
	opacity: 1;
	-ms-filter: none;
	filter: none;
	}
	.dropzone .dz-preview.dz-error .dz-error-mark,
	.dropzone-previews .dz-preview.dz-error .dz-error-mark {
	opacity: 1;
	-ms-filter: none;
	filter: none;
	}
	.dropzone .dz-preview.dz-error .dz-progress .dz-upload,
	.dropzone-previews .dz-preview.dz-error .dz-progress .dz-upload {
	background: #ee1e2d;
	}
	.dropzone .dz-preview .dz-error-mark,
	.dropzone-previews .dz-preview .dz-error-mark,
	.dropzone .dz-preview .dz-success-mark,
	.dropzone-previews .dz-preview .dz-success-mark {
	display: block;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
	-ms-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
	background-image: url("../images/spritemap.png");
	background-repeat: no-repeat;
	}
	@media all and (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:1.5/1),(min-device-pixel-ratio:1.5),(min-resolution:138dpi),(min-resolution:1.5dppx) {
	.dropzone .dz-preview .dz-error-mark,
	.dropzone-previews .dz-preview .dz-error-mark,
	.dropzone .dz-preview .dz-success-mark,
	.dropzone-previews .dz-preview .dz-success-mark {
		background-image: url("../images/spritemap@2x.png");
		-webkit-background-size: 428px 406px;
		-moz-background-size: 428px 406px;
		background-size: 428px 406px;
	}
	}
	.dropzone .dz-preview .dz-error-mark span,
	.dropzone-previews .dz-preview .dz-error-mark span,
	.dropzone .dz-preview .dz-success-mark span,
	.dropzone-previews .dz-preview .dz-success-mark span {
	display: none;
	}
	.dropzone .dz-preview .dz-error-mark,
	.dropzone-previews .dz-preview .dz-error-mark {
	background-position: -268px -123px;
	}
	.dropzone .dz-preview .dz-success-mark,
	.dropzone-previews .dz-preview .dz-success-mark {
	background-position: -268px -163px;
	}
	.dropzone .dz-preview .dz-progress .dz-upload,
	.dropzone-previews .dz-preview .dz-progress .dz-upload {
	-webkit-animation: loading 0.4s linear infinite;
	-moz-animation: loading 0.4s linear infinite;
	-o-animation: loading 0.4s linear infinite;
	-ms-animation: loading 0.4s linear infinite;
	animation: loading 0.4s linear infinite;
	-webkit-transition: width 0.3s ease-in-out;
	-moz-transition: width 0.3s ease-in-out;
	-o-transition: width 0.3s ease-in-out;
	-ms-transition: width 0.3s ease-in-out;
	transition: width 0.3s ease-in-out;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-image: url("../images/spritemap.png");
	background-repeat: repeat-x;
	background-position: 0px -400px;
	}
	@media all and (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:1.5/1),(min-device-pixel-ratio:1.5),(min-resolution:138dpi),(min-resolution:1.5dppx) {
	.dropzone .dz-preview .dz-progress .dz-upload,
	.dropzone-previews .dz-preview .dz-progress .dz-upload {
		background-image: url("../images/spritemap@2x.png");
		-webkit-background-size: 428px 406px;
		-moz-background-size: 428px 406px;
		background-size: 428px 406px;
	}
	}
	.dropzone .dz-preview.dz-success .dz-progress,
	.dropzone-previews .dz-preview.dz-success .dz-progress {
	display: block;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.4s ease-in-out;
	-moz-transition: opacity 0.4s ease-in-out;
	-o-transition: opacity 0.4s ease-in-out;
	-ms-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
	}
	.dropzone .dz-preview .dz-error-message,
	.dropzone-previews .dz-preview .dz-error-message {
	    display: block;
    /* opacity: 0; */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    /* -webkit-transition: opacity 0.3s ease-in-out; */
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    /* transition: opacity 0.3s ease-in-out; */
	}
	.dropzone .dz-preview:hover.dz-error .dz-error-message,
	.dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
	opacity: 1;
	-ms-filter: none;
	filter: none;
	}
	.dropzone a.dz-remove,
	.dropzone-previews a.dz-remove {
	    background-image: linear-gradient(to bottom, #ff0000, #c71010);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    /* border: 1px solid #de2212; */
    text-decoration: none;
    display: block;
    padding: 4px 5px;
    text-align: center;
    color: #ffffff;
    margin-top: 26px;
	}
	.dropzone a.dz-remove:hover,
	.dropzone-previews a.dz-remove:hover {
	color: #666;
	}
	@-moz-keyframes loading {
	from {
		background-position: 0 -400px;
	}
	to {
		background-position: -7px -400px;
	}
	}
	@-webkit-keyframes loading {
	from {
		background-position: 0 -400px;
	}
	to {
		background-position: -7px -400px;
	}
	}
	@-o-keyframes loading {
	from {
		background-position: 0 -400px;
	}
	to {
		background-position: -7px -400px;
	}
	}
	@keyframes loading {
	from {
		background-position: 0 -400px;
	}
	to {
		background-position: -7px -400px;
	}
	}
/* dropzone */
/*  */
	#list_shop_home {
		width: 100%;
		display: flex ;
		justify-content: center;
		margin: 1rem;
		padding: 1rem;
		align-items: center;
		/* IMPORTANTE */
		text-align: center;
	}
	#list_featured_pag  {
		display: flex ;
		justify-content: space-evenly;

		align-items: center;
		/* IMPORTANTE */
		text-align: center;
	}
	.item_pagination{
			margin: 10px;
		
	}
/*  */
/* contact */ 
	.contact td{
		color: #d7d7d7;
	}
	.contact input, .contact select, .contact textarea{
		color: black;
	}
/* contact */