<!-- banner -->
<script src="<?php echo Views_Modules_home?>load_home.js"></script>
<div class="slider">
    <div class="arrows">
        <a class="previous" href="#">&#xf053;</a>
        <a class="next" href="#">&#xf054;</a>
    </div>
    <div class="slides">
        <div class="slide active blue" >
            <div class="text-slide">
                <h2>Zeon Models</h2>
                <p>See all the Zeon catalog and his offers</p>
                <a target="_blank" class="offer zeon" >See More</a>
            </div>
        </div>
        <div class="slide white" >
            <div class="text-slide">
                <h2>Earth Federation Force Models</h2>
                <p>See all the E.F.F catalog and his offers</p>
                <a target="_blank" class="offer eff" >See More</a>
            </div>
        </div>
        <div class="slide red" >
            <div class="text-slide">
                <h2>Kidou Senshi Gundam</h2>
                <p>Conoce todod detras de esta trepidante historia de mano de su autor.</p>
                <a target="_blank" class="goto" >Download on AppStore</a>
            </div>
        </div>
    </div>
    <div class="bullets">
    </div>
</div>
<!-- //banner -->

<div class="about">
    <div class="aboutw3-agileinfo">
        <!-- container -->
        <div class="container">
            <h2 class="agileits-title">New Products</h2>
        </div>
        <!-- //container -->
    </div>
    <!-- about-bottom -->
    <div class="about-bottom">
        <!-- container -->
        <div class="container">
            
                <div class="home_pagination"> 
                <div id="list_shop_home">
                    <div><i id="home_scroll" class="- fa fa-chevron-left"></i></div> 
                    <div id="list_featured_pag"></div> 
                    <div><i id="home_scroll" class="+ fa fa-chevron-right"></i></div> 
                </div>    
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- container id='".$row['Modelo']."' name='".$row['Nombre']."'-->
    </div>
    <!-- about-bottom -->
</div>